<p style="color: green"><%= notice %></p>

<%= render @room_message %>

<div>
  <%= link_to "Edit this room message", edit_room_message_path(@room_message) %> |
  <%= link_to "Back to room messages", room_messages_path %>

  <%= button_to "Destroy this room message", @room_message, method: :delete %>
</div>
